
.searchbar {
    width: 7000px;
}

h1 { text-align: centre 
}

li{ float: left;
    a {display: block;
        width: 60px;
    }

    ul { list-style-type:none;
        margin: 0;
        padding:0;
    }
    
    
.searchbar{ 
    width: auto;
    height: auto;
}
        
h1 { 
    font-size : 2em;
}

li { 
    float: left;
    display: block;
    width: 500px; 
}
        
 body {
    font-size: 80px;
    font-family: "Fira Sans Hair", san-serif; 
}  
        
.topbutton {
    text-decoration: none;
    color: black;
}