
.searchbar {
    width: 7000px;
}

h1 { text-align: centre 
}

li{ float: left;
    a {display: block;
        width: 60px;
    }

    ul { list-style-type:none;
        margin: 0;
        padding:0;
    }